body{
    font-family: 'Open Sans', Arial, Tahoma;
    font-weight: 400;
    font-size: 1em;
    color: #363636;
    max-height: 2700px;
}

.container {
    min-width: 1170px;
}

#place-traveled-animation.container{
    font-family: 'Open Sans', Arial, Tahoma;
    font-weight: 400;
    font-size: 1.2em;
    color: #363636;
}

#hobby-animation.container{
    font-family: 'Open Sans', Arial, Tahoma;
    font-weight: 400;
    font-size: 1.2em;
    color: #363636;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0px 0px 0px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #EC7263;
    background: #DDD;
    opacity: 0.8;
}

a {
    text-decoration: none;
}

a:hover {
    cursor:pointer;
}

#world-map {
    height: 585px;
}

#world-map svg{
    -webkit-box-shadow: 3px 1px 34px -2px rgba(0,0,0,0.67);
    -moz-box-shadow: 3px 1px 34px -2px rgba(0,0,0,0.67);
    box-shadow: 3px 1px 34px -2px rgba(0,0,0,0.67);
    background: #363636;
}
#control-panel {
    position: relative; 
    top: -790px;
}

#control-panel a {
    text-decoration: none; 
    color: #DDD;
}

#control-panel .control-btns {
    float:right; 
    padding: 0px 34px 0px 0px;
}

#overlay {
    position: relative;
    top: -260px;
}

#hobby-animation {
    position: relative;
    top: -250px;
}

#resume{
    position: relative;
    top: -250px;
}
